#ltrhao-spsAzbj-body-div{
	position: absolute; 
	top: 0px; 
	bottom: 0px; 
	right: 0px; 
	left: 0px; 
	background-color: #08304B; 
	overflow: hidden;
}
#ltrhao-spsListGnqd-headerTitle{
	text-align: center;
    font-weight: bold;
}
#ltrhao-spsListGnqd-border{
	height: 150;
}
#ltrhao-spsListGnqd-footer{
	border-top:2px solid ;
	width:100%;
	height:300px;
	overflow:auto;
}
#ltrhao-spsListGnqd-footer-div1{
    width: 50%;
    height: 80;
    position: absolute;
    top: 280;
}
#ltrhao-spsListGnqd-body-span{
	font-size: 30;
    font-weight: bold
}
#ltrhao-spsListGnqd-footer-div11{
	width: 80px;
    height: 80;
    border: 1px solid;
    background-color: #673AB7;
    position: absolute;
    padding-top: 8px;
    left: 160;
}
#ltrhao-spsListGnqd-footer-div12{
    position: absolute;
    left: 245;
    font-size: 20;
}
#ltrhao-spsListGnqd-footer-div2{
    height: 80;
    float: right;
    position: absolute;
    left: 50%;
    top: 280;
}
#ltrhao-spsListGnqd-footer-div21{
    width: 80px;
    height: 80;
    border: 1px solid;
    background-color: #673AB7;
    padding-top: 8px;
    margin-left: 80;
}
#ltrhao-spsListGnqd-footer-div22{
    font-size: 20;
    position: relative;
    left: 165;
    top: -80;
}
.glyphicon-user{
	color:#ffffff;
	font-size: 60;
    padding-left: 10;
    padding-bottom: 5px;
}
#ltrhao-spsListGnqd-footer-div3{
	width: 50%;
    position: absolute;
    top: 360;
    padding-left: 80;
    margin-top: 10;
}
#ltrhao-spsListGnqd-footer-div31{
	width: 80px;
    height: 80;
    border: 1px solid;
    background-color: #673AB7;
    padding-top: 8px;
    margin-left: 80;
}
#ltrhao-spsListGnqd-footer-div32{
	position: absolute;
    font-size: 20;
    top: -5;
    left: 242;
}
#ltrhao-spsListGnqd-footer-div4{
	width: 50%;
    position: absolute;
    top: 440;
    padding-left: 80;
    margin-top: 20;
}
#ltrhao-spsListGnqd-footer-div41{
	width: 80px;
    height: 80;
    border: 1px solid;
    background-color: #673AB7;
    padding-top: 8px;
    margin-left: 80;
}
#ltrhao-spsListGnqd-footer-div42{
	position: absolute;
    font-size: 20;
    top: -5;
    left: 242;
}
























