.funcIcon{
	display:block;
	width:32px;
	height:32px;
}
.window-func-icon1{
	background-image:url(../../images/default/func/ymxx_18x18.png);
}
.window-func-icon2{
background-image:url(../../images/default/func/crb_18x18.png);
}
.window-func-icon3{
background-image:url(../../images/default/func/dagl_18x18.png);
}
.window-func-icon4{
background-image:url(../../images/default/func/jkjy_18x18.png);
}
.window-func-icon5{
background-image:url(../../images/default/func/et_18x18.png);
}
.window-func-icon6{
background-image:url(../../images/default/func/jcsjgl_18x18.png);
}
.window-func-icon7{
background-image:url(../../images/default/func/yf_18x18.png);
}
.window-func-icon8{
background-image:url(../../images/default/func/qxsqgl_18x18.png);
}
.window-func-icon9{
background-image:url(../../images/default/func/tnb_18x18.png);
}
.window-func-icon10{
background-image:url(../../images/default/func/jbggws_18x18.png);
}
.window-func-icon11{
background-image:url(../../images/default/func/gnjsgl_18x18.png);
}
.window-func-icon12{
background-image:url(../../images/default/func/jmjkkgl_18x18.png);
}
.window-func-icon13{
background-image:url(../../images/default/func/lnr_18x18.png);
}
.window-func-icon14{
background-image:url(../../images/default/func/jkxxfb_18x18.png);
}
.window-func-icon15{
background-image:url(../../images/default/func/gncdgl_18x18.png);
}
.window-func-icon16{
background-image:url(../../images/default/func/jkdacx_18x18.png);
}
.window-func-icon17{
background-image:url(../../images/default/func/jtdagl_18x18.png);
}
.window-func-icon18{
background-image:url(../../images/default/func/tfsj_18x18.png);
}
.window-func-icon19{
background-image:url(../../images/default/func/gxy_18x18.png);
}
.window-func-icon20{
background-image:url(../../images/default/func/wsyy_18x18.png);
}
.window-func-icon21{
background-image:url(../../images/default/func/xtgl_18x18.png);
}
.window-func-icon22{
background-image:url(../../images/default/func/jsb_18x18.png);
}
.window-func-icon23{
background-image:url(../../images/default/func/xtyhgl_18x18.png);
}
.window-func-icon24{
background-image:url(../../images/default/func/jkxxfw_18x18.png);
}
.window-func-icon25{
background-image:url(../../images/default/func/yfjz_18x18.png);
}
.window-func-icon26{
background-image:url(../../images/default/func/sgck_18x18.png);
}
.window-func-icon27{
background-image:url(../../images/default/func/xzqh_18x18.png);
}
.window-func-icon28{
background-image:url(../../images/default/func/jkjymh_18x18.png);
}
.window-func-icon29{
background-image:url(../../images/default/func/start_18x18.png);
}
.window-func-icon30{
background-image:url(../../images/default/func/etsfxxsz_18x18.png);
}
.window-func-icon31{
background-image:url(../../images/default/func/yypzgl_18x18.png);
}
.window-func-icon32{
background-image:url(../../images/default/func/grdagl_18x18.png);
}
.window-func-icon33{
background-image:url(../../images/default/func/jktj_18x18.png);
}

.window-func-icon34{
background-image:url(../../images/default/func/func_ic1_18x18.png);
}
.window-func-icon35{
background-image:url(../../images/default/func/func_ic2_18x18.png);
}
.window-func-icon36{
background-image:url(../../images/default/func/func_ic3_18x18.png);
}
.window-func-icon37{
background-image:url(../../images/default/func/func_ic4_18x18.png);
}
.window-func-icon38{
background-image:url(../../images/default/func/func_ic5_18x18.png);
}
.window-func-icon39{
background-image:url(../../images/default/func/func_ic6_18x18.png);
}
.window-func-icon40{
background-image:url(../../images/default/func/func_ic7_18x18.png);
}
.window-func-icon41{
background-image:url(../../images/default/func/func_ic8_18x18.png);
}
.window-func-icon42{
background-image:url(../../images/default/func/func_ic9_18x18.png);
}
.window-func-icon43{
background-image:url(../../images/default/func/func_ic10_18x18.png);
}
.window-func-icon44{
background-image:url(../../images/default/func/func_ic11_18x18.png);
}
.window-func-icon45{
background-image:url(../../images/default/func/func_ic12_18x18.png);
}
.window-func-icon46{
background-image:url(../../images/default/func/func_ic13_18x18.png);
}
.window-func-icon47{
background-image:url(../../images/default/func/func_ic14_18x18.png);
}
.window-func-icon48{
background-image:url(../../images/default/func/func_ic15_18x18.png);
}
.window-func-icon49{
background-image:url(../../images/default/func/func_ic16_18x18.png);
}


.taskbar-func-icon1{
	background-image:url(../../images/default/func/ymxx_32x32.png);
}
.taskbar-func-icon2{
background-image:url(../../images/default/func/crb_32x32.png);
}
.taskbar-func-icon3{
background-image:url(../../images/default/func/dagl_32x32.png);
}
.taskbar-func-icon4{
background-image:url(../../images/default/func/jkjy_32x32.png);
}
.taskbar-func-icon5{
background-image:url(../../images/default/func/et_32x32.png);
}
.taskbar-func-icon6{
background-image:url(../../images/default/func/jcsjgl_32x32.png);
}
.taskbar-func-icon7{
background-image:url(../../images/default/func/yf_32x32.png);
}
.taskbar-func-icon8{
background-image:url(../../images/default/func/qxsqgl_32x32.png);
}
.taskbar-func-icon9{
background-image:url(../../images/default/func/tnb_32x32.png);
}
.taskbar-func-icon10{
background-image:url(../../images/default/func/jbggws_32x32.png);
}
.taskbar-func-icon11{
background-image:url(../../images/default/func/gnjsgl_32x32.png);
}
.taskbar-func-icon12{
background-image:url(../../images/default/func/jmjkkgl_32x32.png);
}
.taskbar-func-icon13{
background-image:url(../../images/default/func/lnr_32x32.png);
}
.taskbar-func-icon14{
background-image:url(../../images/default/func/jkxxfb_32x32.png);
}
.taskbar-func-icon15{
background-image:url(../../images/default/func/gncdgl_32x32.png);
}
.taskbar-func-icon16{
background-image:url(../../images/default/func/jkdacx_32x32.png);
}
.taskbar-func-icon17{
background-image:url(../../images/default/func/jtdagl_32x32.png);
}
.taskbar-func-icon18{
background-image:url(../../images/default/func/tfsj_32x32.png);
}
.taskbar-func-icon19{
background-image:url(../../images/default/func/gxy_32x32.png);
}
.taskbar-func-icon20{
background-image:url(../../images/default/func/wsyy_32x32.png);
}
.taskbar-func-icon21{
background-image:url(../../images/mainControl/zonghe_32x32.png);
}
.taskbar-func-icon22{
background-image:url(../../images/default/func/jsb_32x32.png);
}
.taskbar-func-icon23{
background-image:url(../../images/default/func/xtyhgl_32x32.png);
}
.taskbar-func-icon24{
background-image:url(../../images/default/func/jkxxfw_32x32.png);
}
.taskbar-func-icon25{
background-image:url(../../images/default/func/yfjz_32x32.png);
}
.taskbar-func-icon26{
background-image:url(../../images/default/func/sgck_32x32.png);
}
.taskbar-func-icon27{
background-image:url(../../images/default/func/xzqh_32x32.png);
}
.taskbar-func-icon28{
background-image:url(../../images/default/func/jkjymh_32x32.png);
}
.taskbar-func-icon29{
background-image:url(../../images/default/func/start_32x32.png);
}
.taskbar-func-icon30{
background-image:url(../../images/default/func/etsfxxsz_32x32.png);
}
.taskbar-func-icon31{
background-image:url(../../images/default/func/yypzgl_32x32.png);
}
.taskbar-func-icon32{
background-image:url(../../images/default/func/grdagl_32x32.png);
}
.taskbar-func-icon33{
background-image:url(../../images/default/func/jktj_32x32.png);
}
.taskbar-func-icon34{
background-image:url(../../images/default/func/func_ic1_32x32.png);
}
.taskbar-func-icon35{
background-image:url(../../images/default/func/func_ic2_32x32.png);
}
.taskbar-func-icon36{
background-image:url(../../images/default/func/func_ic3_32x32.png);
}
.taskbar-func-icon37{
background-image:url(../../images/default/func/func_ic4_32x32.png);
}
.taskbar-func-icon38{
background-image:url(../../images/default/func/func_ic5_32x32.png);
}
.taskbar-func-icon39{
background-image:url(../../images/default/func/func_ic6_32x32.png);
}
.taskbar-func-icon40{
background-image:url(../../images/default/func/func_ic7_32x32.png);
}
.taskbar-func-icon41{
background-image:url(../../images/default/func/func_ic8_32x32.png);
}
.taskbar-func-icon42{
background-image:url(../../images/default/func/func_ic9_32x32.png);
}
.taskbar-func-icon43{
background-image:url(../../images/default/func/func_ic10_32x32.png);
}
.taskbar-func-icon44{
background-image:url(../../images/default/func/func_ic11_32x32.png);
}
.taskbar-func-icon45{
background-image:url(../../images/default/func/func_ic12_32x32.png);
}
.taskbar-func-icon46{
background-image:url(../../images/default/func/func_ic13_32x32.png);
}
.taskbar-func-icon47{
background-image:url(../../images/default/func/func_ic14_32x32.png);
}
.taskbar-func-icon48{
background-image:url(../../images/default/func/func_ic15_32x32.png);
}
.taskbar-func-icon49{
background-image:url(../../images/default/func/func_ic16_32x32.png);
}


.desktop-func-icon1{
	background-image:url(../../images/default/func/ymxx_50x50.png);
}
.desktop-func-icon2{
background-image:url(../../images/default/func/crb_50x50.png);
}
.desktop-func-icon3{
background-image:url(../../images/default/func/dagl_50x50.png);
}
.desktop-func-icon4{
background-image:url(../../images/default/func/jkjy_50x50.png);
}
.desktop-func-icon5{
background-image:url(../../images/default/func/et_50x50.png);
}
.desktop-func-icon6{
background-image:url(../../images/default/func/jcsjgl_50x50.png);
}
.desktop-func-icon7{
background-image:url(../../images/default/func/yf_50x50.png);
}
.desktop-func-icon8{
background-image:url(../../images/default/func/qxsqgl_50x50.png);
}
.desktop-func-icon9{
background-image:url(../../images/default/func/tnb_50x50.png);
}
.desktop-func-icon10{
background-image:url(../../images/default/func/jbggws_50x50.png);
}
.desktop-func-icon11{
background-image:url(../../images/default/func/gnjsgl_50x50.png);
}
.desktop-func-icon12{
background-image:url(../../images/default/func/jmjkkgl_50x50.png);
}
.desktop-func-icon13{
background-image:url(../../images/default/func/lnr_50x50.png);
}
.desktop-func-icon14{
background-image:url(../../images/default/func/jkxxfb_50x50.png);
}
.desktop-func-icon15{
background-image:url(../../images/default/func/gncdgl_50x50.png);
}
.desktop-func-icon16{
background-image:url(../../images/default/func/jkdacx_50x50.png);
}
.desktop-func-icon17{
background-image:url(../../images/default/func/jtdagl_50x50.png);
}
.desktop-func-icon18{
background-image:url(../../images/default/func/tfsj_50x50.png);
}
.desktop-func-icon19{
background-image:url(../../images/default/func/gxy_50x50.png);
}
.desktop-func-icon20{
background-image:url(../../images/default/func/wsyy_50x50.png);
}
.desktop-func-icon21{
background-image:url(../../images/default/func/xtgl_50x50.png);
}
.desktop-func-icon22{
background-image:url(../../images/default/func/jsb_50x50.png);
}
.desktop-func-icon23{
background-image:url(../../images/default/func/xtyhgl_50x50.png);
}
.desktop-func-icon24{
background-image:url(../../images/default/func/jkxxfw_50x50.png);
}
.desktop-func-icon25{
background-image:url(../../images/default/func/yfjz_50x50.png);
}
.desktop-func-icon26{
background-image:url(../../images/default/func/sgck_50x50.png);
}
.desktop-func-icon27{
background-image:url(../../images/default/func/xzqh_50x50.png);
}
.desktop-func-icon28{
background-image:url(../../images/default/func/jkjymh_50x50.png);
}
.desktop-func-icon29{
background-image:url(../../images/default/func/start_50x50.png);
}
.desktop-func-icon30{
background-image:url(../../images/default/func/etsfxxsz_50x50.png);
}
.desktop-func-icon31{
background-image:url(../../images/default/func/yypzgl_50x50.png);
}
.desktop-func-icon32{
background-image:url(../../images/default/func/grdagl_50x50.png);
}
.desktop-func-icon33{
background-image:url(../../images/default/func/jktj_50x50.png);
}
.desktop-func-icon34{
background-image:url(../../images/default/func/func_ic1_50x50.png);
}
.desktop-func-icon35{
background-image:url(../../images/default/func/func_ic2_50x50.png);
}
.desktop-func-icon36{
background-image:url(../../images/default/func/func_ic3_50x50.png);
}
.desktop-func-icon37{
background-image:url(../../images/default/func/func_ic4_50x50.png);
}
.desktop-func-icon38{
background-image:url(../../images/default/func/func_ic5_50x50.png);
}
.desktop-func-icon39{
background-image:url(../../images/default/func/func_ic6_50x50.png);
}
.desktop-func-icon40{
background-image:url(../../images/default/func/func_ic7_50x50.png);
}
.desktop-func-icon41{
background-image:url(../../images/default/func/func_ic8_50x50.png);
}
.desktop-func-icon42{
background-image:url(../../images/default/func/func_ic9_50x50.png);
}
.desktop-func-icon43{
background-image:url(../../images/default/func/func_ic10_50x50.png);
}
.desktop-func-icon44{
background-image:url(../../images/default/func/func_ic11_50x50.png);
}
.desktop-func-icon45{
background-image:url(../../images/default/func/func_ic12_50x50.png);
}
.desktop-func-icon46{
background-image:url(../../images/default/func/func_ic13_50x50.png);
}
.desktop-func-icon47{
background-image:url(../../images/default/func/func_ic14_50x50.png);
}
.desktop-func-icon48{
background-image:url(../../images/default/func/func_ic15_50x50.png);
}
.desktop-func-icon49{
background-image:url(../../images/default/func/func_ic16_50x50.png);
}
.rightBar-icon01{
	background-image:url( resources/images/mainControl/zhiyuanzhe.png);
}