a{
	text-decoration:none;
	color:#fff;
	}
a:link{
	text-decoration:none;
	color:#fff;
}
a:visited{
	text-decoration:none;
	color:#fff;
}
a:hover{
	text-decoration:none;
	color:#f5ce0c;
}
a:active{
	text-decoration:none;
	color:#fff;
}
a span{
	text-decoration:none;
	color:#fff;
}
a span:link{
	text-decoration:none;
	color:#fff;
}
a span:visited{
	text-decoration:none;
	color:#fff;
}
a span:hover{
	text-decoration:none;
	color:#f5ce0c;
}
a span:active{
	text-decoration:none;
	color:#fff;
}
ul li{
	list-style:none;
	}
cle{
	clear:both;
	}
#flyz_sy_cent{
	width:100%;
	height:100%;
	background:#f2f2f2;
	}
#flyz_sy_head{
	background:#f2f2f2;
	}
#flyz_sy_input{
	width:100%;
	height:50px;
	}
#flyz_sy_input input{
	text-align:center;
	float:left;
	width:120px;
	border-radius:5px;
	border:1px solid #ccc;
	height:30px;
	margin-top:9px;
	margin-left:1%;
	}
#flyz_sy_input a{
	color:#fff;
	}
#flyz_sy_input button{
	float:left;
	width:120px;
	height:30px;
	border-radius:5px;
	border:0px;
	margin-top:9px;
	margin-left:1%;
	background:#0d9bff;
	color:#fff;
	font-size:18px;
	}
/*瀵煎嚭琛ㄦ牸css*/
#flyz_button_dcbg{
	position:absolute;
	top:10px;
	right:45px;
	width:120px;
	height:30px;
	background:#0ba50b;
	/* background:#eb4132; */
	border-radius:5px;
	color:#fff;
	line-height:30px;
	text-align:center;
	}
#flyz_home_kp{
	float:left;
	width:100%;
	}
#flyz_home_kp ul{
	padding-left:0px;
}
#flyz_home_kp>ul>li{
	margin-bottom:10px;
}
#flyz_home_kp>ul>li>a>div{
	height:60px;
	background:#333;
	border-radius:5px;
	text-align:center;
	line-height:60px;
	color:#fff;
	font-size:20px;
	}
#flyz_home_kp>ul>li>a>div>span{
	font-size:20px;
	height:60px;
	background:#333;
	border-radius:5px;
	text-align:center;
	line-height:60px;
	color:#fff;
	}
#flyz_tb_cent{
	}
#flyz_cent_row{
	}
.cent_tubiaoq{
	width:100%;
	height:400px;
	margin-top:10px;
	}

#flyz_fytb{
	height:155px;
	border-radius:0px 0px 5px 5px;
	text-align:center;
	}
.flyz_cent_span{
	color:#fff;
	font-size:18px;
	z-index:999;
}
#flyz_whams_box{
	/* height:195px;
	margin-top:10px; 	*/
	border-radius:5px;
	}
#flyz_cent_fyajqk{

	}
#flyz_fyajpzqk_box{
	margin-bottom:10px;
}
#flyz_whssqdly_box{
	
}
.flyz_whssqdly_box_textYZ{
	height:40px;	
	background:#333;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
#flyz_zxfs_box{
	height:400px;
}
#flyz_zxfs_box_zxfsa{
	border-radius:0px 0px 5px 5px;
	background:#333
}
#flyz_zxfs_tb{
	height:360px;

	}
.flyz_whssqdly_box{
	width:470px;
	margin-right:10px;
}
.flyz_whssqdly_box_textWH{
	height:40px;
	background:#333;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
#flyz_whssqdly_box_textMS{
	height:40px;
	background:#333;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
#flyz_whssqdly_box_textZX{
	height:40px;
	background:#333;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
#flyz_whsasqdly_box_textZX{
	height:40px;
	background:#333;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
/*鎸藉洖鎹熷け鎴栧彇寰楀埄鐩婃�绘暟*/
#flyz_whssqdly{
	height:155px;
	background:#333;
	border-radius:0px 0px 5px 5px;
	}
/*姘戜簨娉曞緥鎻村姪*/
#flyz_msflyz_tb{
	height:155px;
	background:#333;
	border-radius:0px 0px 5px 5px;
	}


/*璧勮绫诲瀷*/
#flyz_zxlx_tb{
	height:380px;
	background:#333;
	border-radius:0px 0px 5px 5px;
	}
#flyz_zxlx_sty{
	margin-top:10px;
}
#flyz_jgry_text ul a{
	height:40px;
	background:#333;
	color:#fff;
	border-radius:5px;
	margin-top:10px;
	text-align:center;
	font-size:16px;
	line-height:40px;
}
#flyz_jgry_text>ul>li{
	height:40px;
	background:#333;
	color:#fff;
	border-radius:5px;
	margin-top:10px;
	text-align:center;
	font-size:16px;
	line-height:40px;
}




#flyz_cent_tubiaod{
	margin-top:10px;
	}
/*鍒戜簨娉曞緥鎻村姪*/
#flyz_xsfy_tb{
	margin-bottom:10px;
	}
#flyz_xsfy_tb_text{
	height:40px;
	color:#fff;
	background:#333;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
#flyz_xsfy_tb_bar{
	height:165px;
	background:#333;
	border-radius:0px 0px 5px 5px;
}
/*鍜ㄨ鎬绘暟*/
#flyz_zxzs_tb{
	margin-bottom:10px;
	}
#flyz_zxzs_tb_text{
	height:40px;
	background:#333;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
#flyz_zxzs_tb_bar{
	height:165px;
	background:#333;
	border-radius:0px 0px 5px 5px;
	}
/**/
#flyz_yjajpz_tb{
	margin-bottom:10px;
}
#flyz_yjajpz_tb_text{
	height:40px;
	background:#333;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
#flyz_yjzjpz_tb_bar{
	height:165px;
	background:#333;
	border-radius:0px 0px 5px 5px;
}
/*琛屾斂娉曞緥鎻村姪*/
#flyz_xzfy_tb{
	margin-bottom:10px;
}
#flyz_xzfy_tb_text{
	height:40px;
	background:#333;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
#flyz_xzfy_tb_bar{
	height:165px;
	background:#333;
	border-radius:0px 0px 5px 5px;
}
/*宸茬粨妗堜欢鎵瑰噯*/
#flyz_yjaj_tb{
	}
#flyz_yjaj_tb_text{
	height:40px;
	background:#333;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:18px;
	border-radius:5px 5px 0 0;
}
#flyz_yjaj_tb_bar{
	height:165px;
	background:#333;
	border-radius:0px 0px 5px 5px;
}
/*鍖哄煙鎼滅储妗�*/
#spsflyz-hidenDiv{
	width: 470px;
    height: 360px;
    background-color: #fff;
    z-index:99999;
    position: absolute;
    top: 50px;
    left: 129px;
    box-shadow:1px 0px 3px #ccc;  
	}
#spsSqjz-hidenDiv-div1{
	height:35px;
	border-bottom:1px solid #E0E0E0;
	}
#spsSqjz-hidenDiv-div11{
	margin-left:10px;
	margin-top:16px;
	font-weight:bold;
	font-size:16px;
	}
#spsSqjz-hidenDivSS{
	height:300px;
	overflow:auto;
	font-size:12px;
	}
#spsSqjz-hidenDiv-div1{
	height:35px;
	border-bottom:1px solid #E0E0E0;
}
#spsSqjz-hidenDivSS{
	height:300px;
	overflow:auto;
}
.hidden-div-li{
	display:inline-block;
	font-size:14px;
	list-style: none;
	font-weight:normal;
	width:190px;
}
.hidden-div-ul{
	font-size:16px;
	font-weight:bold;
	list-style: none;
}
.btn-info{
	background:#0d9bff;
	border:0px;
	border-radius:5px;
	}
#spsSqjz-hidenDivBtn{
	position: absolute;
    right: 5px;
    top: 22px;
    font-size: 20px;
    z-index:99999;
}
#spsSqjz-hidenDiv-qc{
	font-size: 14px;
    color: #ffffff;
    background-color:#fb8c00;
    position: absolute;
    right: 85px;
    top: 358px;
}
#spsSqjz-hidenDiv-qd{
	font-size: 14px;
    color: #ffffff;
    background-color:#246af6;
    position: absolute;
    right: 20px;
    top: 358px;
}
.btn-info:hover{
	background:#3273f5;
	border:0px;
	border-radius:5px;
	}
.hidden-div-ul{
	font-size:16px;
	font-weight:bold;
	list-style: none;
	cursor:pointer;
	}
/*灏忎笁瑙掓牱寮�*/
.spssjfx-indicate{
	width:10px;
	height:10px;
	position:absolute;
	top:-20px;
	left:50px;
	border-style:solid;
	border-width:10px;
	border-color:transparent transparent #fff transparent;
}
/*婊氬姩鏉℃牱寮�*/
#spsSqjz-hidenDivSS{
    overflow-x: hidden;
    overflow-y: auto;
    }

#spsSqjz-hidenDivSS::-webkit-scrollbar {
	width: 7px;    
    height: 4px;
    opacity:0.5;
}
#spsSqjz-hidenDivSS::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);*/
    background:#a4cde5;
    margin-right:2px;
    
}
/* #spsSqjz-hidenDivSS::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius:10px;
    background:#999;
    margin-right:2px;
} */